/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
html {
  background-color:#000000;
  color:#fffff0;
}

header h1 {
  font-size: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, main {
  text-align: center;
  
}

.startPara {
  padding-bottom: 40px;
}

{
box-sizing: border-box;
}

.ticker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress {
  flex: 1;
}

.scoreCount {
  flex: 1;
}

.trophy > img {
  max-width: 250px;
  text-align: center;
}

@media (min-width: 700px) {
  header h1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }
  body {
    width: 80%;
    margin: 0 auto;
  }
  .main-nav-list-item {
    float:left;
    width: 25%;
  }