html {
  background-color:#000000;
  color:#fffff0;
}

h1 {
  font-size: 24px;
}

.legend {
    height: 75%;
    width: 15%;
}

header, main {
  text-align: center;
}

.startPara {
  padding-bottom: 20px;
}

.flank {
  height: 0;
}

.ticker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress {
  flex: 1;
}

.scoreCount {
  flex: 1;
}

.trophy > img {
  max-width: 250px;
  text-align: center;
}

.progress , .scoreCount {
  font-size: 12px;
}

 @media (min-width: 800px) {

  h1 {
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
  }

  .flank {
    height: 85px;
    width: 150px;
  }

  p {
    font-size: 28px;
  }

  .legend {
    height: 100%;
    width: 25%;
  }

  button {
    margin-top: 15px;
    size: 50px 75px;
  }

  .progress , .scoreCount {
    font-size: 28px;
  }

  .startPara {
    padding-bottom: 40px;
  }
  
 };